.tickers-container {
    position: -webkit-sticky;
    position: sticky;
    z-index: 20000;
}

.company-tab, .company-details-tab {
    padding: 0.925rem 0.625rem;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.company-tab:hover, .company-details-tab:hover {
    color: rgb(238, 238, 238);
    cursor: pointer;
}

.company-tab-selected, .company-tab-selected:hover {
    background-color: #fff;
    color: var(--blueColor);
    border-radius: 4px;
}

.company-category-container, .company-data-container {
    box-shadow: 0 0 5px var(--blueColor);
    border-radius: 10px;
}

.company-item {
    display: flex;
    justify-content: start;
    align-items: start;
}

.company-item-icon {
    font-size: 20px;
    color: var(--blueColor);
    font-weight: 700;
}

.company-link {
    font-size: 14px;
    color: var(--mainGrey);
    font-weight: 600;
    text-decoration: none;
    margin: 0 0.2rem;
    transition: all 0.2s;
}

.company-link:hover {
    color: var(--blueColor);
    text-decoration: none;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.company-item-empty {
    font-size: 15px;
    font-weight: 700;
}

#resources-container, #chemical-container, #construction-container, #financial-container, #nutrition-container, #healthcare-container, #industrial-container, #gas-container, #personal-container, #realEstate-container, #products-container, #media-container, #tech-container, #communication-container, #tourism-container, #facility-container {
    display: none;
}

.company-tab-carousel {
    background-color: var(--blueColor);
    border: 2px solid #000;
    border-radius: 5px;
}

.agenda-tab-carousel {
    background-color: var(--blueColor);
    border: 2px solid #000;
    border-radius: 5px;
}

#free-index-container , #general-org-container{
    display: none;
}

.company-section-header {
    font-size: 16px;
    font-weight: 700;
}

.company-section-header .header-label {
    color: var(--blueColor);
}

.company-section-header .header-var {
    color: var(--mainGrey);
}

.company-data-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.company-data-item .date-time {
    font-size: 12px;
    font-weight: 600;
    color: rgb(60, 148, 231);
    background-color: var(--blueColor);
    border-radius: 10px;
    padding: 0.225rem 0.625rem;
    color: #fff;
    min-width: 80px;
    overflow: hidden;
}

.general-org-container {
    overflow-x: auto;
}

.company-table {
    width: 100%;
    overflow: auto;
}

.company-table tbody {
    font-size: 14px;
}

.company-table .company-table-link {
    color: var(--mainGrey);
    font-weight: 600;
    transition: all 0.3s;
}

.company-table .company-table-link:hover {
    color: var(--blueColor);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.company-table .table-date {
    color: rgb(55, 142, 177);
    font-weight: 600;
}

.company-table .table-time {
    color: var(--blueColor);
    font-weight: 600;
}

#orgContainer, #dataContainer, #transContainer, #indexContainer, #supportPointContainer, #highLowChartContainer {
    display: none;
}

.high-low-chart-container * {
    direction: ltr !important;
}

/* ********************************************************************** */

.owl-nav {
    position: absolute;
    top: 20%;
    width: 100%;
}

.owl-next, .owl-prev {
    position: absolute;
    outline: none !important;
}

.owl-next {
    right: 0;
}

.owl-prev {
    left: 0;
}

.owl-next i, .owl-prev i {
    width: 20px;
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
    color: white;
    background-color: var(--mainOrange);
    transition: all 0.4s;
}

.owl-next i {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.owl-prev i {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.owl-next i:hover, .owl-prev i:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}