.social-contacts-section a {
    font-size: 32px;
    color: var(--blueColor);
    text-decoration: none;
}

.social-contacts-section a:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.nav-pills {
    background-color: var(--blueColor);
}

.nav-pills .nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 0;
    border-bottom: 1px solid #ffffff;
    padding: 11px 14px;
    transition: all 0.4s;
}

.nav-pills .nav-link:hover {
    background-color: #f26b2cd2;
}

.nav-pills .nav-link[aria-selected=true] {
    background-color: var(--mainOrange);
}

.contact-us-link {
    display: inline-block;
    width: fit-content;
}

.contact-us-link i {
    padding-top: 0.3em;
}

.tab-pane {
    height: 100%;
    background-color: whitesmoke;
    border-radius: 8px;
}

.action-btn {
    position: relative;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
    outline: none !important;
    background-color: transparent;
    font-size: 14px;
}

.action-btn:hover {
    cursor: pointer;
    color: orangered;
}

.success-alert {
    position: absolute;
    top: 50%;
    left: 105%;
    transform: translateY(-50%);
    width: 120px;
    display: none;
    background-color: rgb(101, 219, 54);
    color: #fff;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 12px;
}

@media only screen and (max-width:576px) {
    .action-btn {
        display: none;
    }
}

@media only screen and (min-width:576px) {
    .action-btn {
        display: block;
    }
}