/* banner section styles */

#banner-section {
    background-image: url('../../assets/images/banner-back1.jpg');
    background-size: cover;
}

.banner-item img {
    width: 100%;
    height: auto;
}

.carousel-banner-caption {
    position: absolute;
}

.carousel-banner-caption .title {
    font-size: 1.5rem !important;
    font-weight: 700;
    color: var(--mainOrange);
    background-color: #ffffffb0;
    clip-path: polygon(7% 0, 93% 0, 100% 100%, 0 100%);
    padding: 0.625rem 0.925rem;
}

.carousel-banner-caption .subtitle {
    font-size: 1.2rem;
}

.carousel-control-next-icon {
    background-image: url('../../assets/images/next.png');
}

.carousel-control-prev-icon {
    background-image: url('../../assets/images/prev.png');
}

.forex-screen, .gold-currency-screen {
    background-color: #00000085;
}

.forex-screen .title, .gold-currency-screen .title, .activity-screen .title, .late-price-screen .title {
    background-color: #034168af;
    padding: 1.2rem 0.325rem;
    color: #ffffff;
    font-weight: 700;
}

.forex-screen .nav-tabs, .gold-currency-screen .nav-tabs {
    border-bottom: none !important;
    background-color: #000000ad;
}

.forex-screen .nav-tabs .nav-item, .gold-currency-screen .nav-tabs .nav-item {
    width: 50%;
    text-align: center;
}

.forex-screen .nav-tabs .nav-item .nav-link, .gold-currency-screen .nav-tabs .nav-item .nav-link {
    height: 100%;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 0.825rem;
    font-weight: 600;
    transition: all 0.6s;
    padding: 1rem 0;
    border-radius: 0;
}

.forex-screen .nav-tabs .nav-item .nav-link.active, .gold-currency-screen .nav-tabs .nav-item .nav-link.active {
    background-color: #ffffffd5;
    color: var(--blueColor);
}

#arabInterTabsContent table, #goldCurrTabsContent table {
    font-size: 0.825rem;
}

.forex-screen .arab-inter-forex-table tr .change .dir-down {
    color: red;
}

.forex-screen .arab-inter-forex-table tr .change .dir-up {
    color: lime;
}

.forex-screen .arab-inter-forex-table tr {
    font-size: 0.725rem;
}

.screens-wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.forex-screen, #bannerCarousel {
    flex: 0 1 auto;
}

.gold-currency-screen, .activity-screen {
    flex: 1 1 auto;
}

.activity-screen, .late-price-screen {
    background-color: #000000a2;
    border: 1px solid #efefef;
}

.activity-screen .nav-tabs, .late-price-screen .nav-tabs {
    border-bottom: none !important;
    background-color: #000000ad;
}

.activity-screen .nav-tabs .nav-item {
    width: 25%;
    text-align: center;
}

.activity-screen .nav-tabs .nav-item .nav-link {
    height: 100%;
    background-color: transparent;
    color: #ffffff;
    border: none;
    font-size: 0.825rem;
    font-weight: 600;
    transition: all 0.6s;
    padding: 1rem 0;
    border-radius: 0;
}

.activity-screen .nav-tabs .nav-item .nav-link.active {
    background-color: #ffffffd5;
    color: var(--blueColor);
}

.late-price-screen {
    border-left: none;
    border-right: none;
    max-height: 500px;
    overflow: auto;
}

/* End banner section styles */

/* Statistics section */

#stats {
    background-image: linear-gradient(to right bottom, #facfc9e5, rgba(243, 242, 241, 0.911)), url('../../assets/images/background2.jpg');
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animateBackgroundImage 100s linear infinite;
    background-attachment: fixed;
}

#stats .stats-header {
    background-color: var(--blueColor);
    color: #ffffff;
    width: 250px;
    margin: auto;
    border-radius: 50px;
    padding: 1rem;
}

.squareItem {
    margin-top: 30px;
    position: relative;
    width: 100%;
}

.squareItem:hover {
    cursor: pointer;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 3px solid var(--blueColor);
    border-top: none;
}

.squareInnerContainer:before, .squareInnerContainer:after {
    content: '';
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 3px solid var(--blueColor);
}

.squareInnerContainer:before {
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px
}

.squareContent h2 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--blueColor);
}

.squareContent h3 {
    font-size: 15px;
    font-weight: 700;
    margin: 0;
    color: var(--mainOrange);
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
    transition: transform 1.2s;
}

.squareItem:hover .squareIcon {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
    color: var(--blueColor);
}

.stats-header a:hover {
    text-decoration: none;
}

.stats-header img {
    width: 60px;
    height: auto;
    transition: all 1.5s;
}

/* *********************************************************************************************** */

#news-section {
    position: relative;
}

#news-section .news-container {
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0.325rem;
}

#news-section .news-container .item.main-item {
    grid-column: 1 / span 2;
    grid-row: 1/3;
}

#news-section .news-container .item {
    height: 100%;
}

#news-section .news-container .item .image {
    position: relative;
    height: 100%;
    overflow: hidden;
}

#news-section .news-container .item .image img {
    width: 100%;
    height: 100%;
    transition: all 0.6s;
}

#news-section .news-container .item .image:hover img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

#news-section .news-container .item .image .title {
    position: absolute;
    width: 100%;
    background-color: #4e4e4e96;
    bottom: 0;
    padding: 0.925rem;
    font-size: 0.825rem;
    color: #ffffff;
    font-weight: 600;
}

#news-section .news-container .item .image .title:hover {
    color: #ebd9d9;
}

#news-section .news-container .item .image .title:lang(ar) {
    text-align: right;
}

#news-section .news-container .item .image .title:lang(en) {
    text-align: left;
}

.investment-categories .header, .company-activity .header {
    background-color: #0341686b;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
}

.investment-categories .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

/* ************************************************************************************************************** */

.egx-investment {
    background-image: linear-gradient(to bottom right, #ff5e0054, #374f9654), url(../../assets/images/banner-back2.jpg)
}

#companyActivityTabs {
    border-bottom: none;
    background-color: #0000005b;
}

#companyActivityTabs .nav-item {
    width: 25%;
}

#companyActivityTabs .nav-item .nav-link {
    text-align: center;
    color: #ffffff;
    border-radius: 0;
    padding: 0.925rem 0;
}

#companyActivityTabs .nav-item .nav-link.active {
    color: var(--blueColor);
    font-weight: 600;
}

table {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
}

/* ********************************************************************************************************** */

.highcharts-credits {
    display: none;
}

.charts-section * {
    direction: ltr !important;
}

.highcharts-title {
    font-size: 14px !important;
    font-weight: 700;
    fill: #000000 !important;
}

/* **************************************************************************************************************** */

.market-state {
    overflow-x: auto;
}

.market-state, .egx-data {
    height: 100%;
    box-shadow: 0 0 5px rgb(197, 189, 189);
    border-radius: 8px;
}

.market-state .header, .egx-data .header {
    border-radius: 8px;
    color: rgb(48, 182, 182);
    font-weight: 700;
    font-size: 20px;
}

.market-state-table {
    direction: rtl !important;
}

.market-state-table .head {
    font-size: 14px !important;
    font-weight: 700 !important;
}

.market-state-table td {
    font-size: 12px !important;
    font-weight: 600 !important;
    vertical-align: middle;
}

.egx-tab-items {
    direction: rtl !important;
    list-style: none;
    text-align: center;
    padding: 0;
}

.egx-tab-items .egx-tab {
    display: inline-block;
    margin: 0.625rem 0.325rem;
    padding: 0.325rem 0.925rem;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid var(--mainOrange);
    border-radius: 5px;
    transition: all 0.4s;
}

.egx-tab-items .egx-tab:hover {
    cursor: pointer;
    background-color: var(--mainOrange);
    color: #fff;
}

.egx-tab-active {
    background-color: var(--mainOrange);
    color: white;
}

#egx30CapChartContainer, #egx30TrChartContainer, #egx50ChartContainer, #egx70ChartContainer, #egx100ChartContainer {
    display: none;
}

.egx-data-gist {
    direction: rtl !important;
    font-size: 14px;
}

.egx-data-gist p {
    text-align: center;
}

.percentage-value {
    direction: ltr !important;
}

/* ********************************************************************************************** */