.tickers-container {
    position: -webkit-sticky;
    position: sticky;
    z-index: 20000;
}

.news-section-header {
    color: var(--blueColor);
}

.news-tab {
    padding: 0.925rem 0.625rem;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.6s;
}

.news-tab:hover {
    color: rgb(238, 238, 238);
    cursor: pointer;
}

.news-tab-selected, .news-tab-selected:hover {
    background-color: #fff;
    color: var(--blueColor);
    border-radius: 4px;
}

.news-tabs-wrapper {
    width: 100%;
    border: 4px solid var(--blueColor);
    border-radius: 7px;
    background-color: var(--blueColor);
}

.news-data-container {
    box-shadow: 0 0 5px var(--blueColor);
    border-radius: 10px;
}

.news-item {
    display: flex;
    justify-content: start;
    align-items: start;
}

.news-item-icon {
    font-size: 20px;
    color: var(--blueColor);
    font-weight: 700;
}

.news-link {
    font-size: 14px;
    color: var(--mainGrey);
    font-weight: 600;
    text-decoration: none;
    margin: 0 0.2rem;
    transition: all 0.2s;
}

.news-link:hover {
    color: var(--blueColor);
    text-decoration: none;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.news-data-item {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.news-data-item .date-time {
    font-size: 12px;
    font-weight: 600;
    color: rgb(60, 148, 231);
    background-color: var(--blueColor);
    border-radius: 10px;
    padding: 0.225rem 0.625rem;
    color: #fff;
    min-width: 80px;
    overflow: hidden;
    width: 160px;
}

#forexMessages {
    display: none;
}