.tickers-container {
    position: -webkit-sticky;
    position: sticky;
    z-index: 20000;
}

.offers-section-header {
    width: fit-content;
    margin: auto;
    color: #fff;
    background-color: var(--blueColor);
    border-radius: 50px;
}

.offer-card {
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--mainOrange);
}

.offer-card .header {
    background-color: var(--mainOrange);
    color: #fff;
    border-bottom: 1px solid #fff;
}

.offer-card .header .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.offer-card .header a {
    color: #fff;
    font-weight: 600;
}

.offer-card .body {
    height: 100%;
}

.offer-card .body a {
    display: block;
    height: 100%;
}

.offer-card .body img {
    width: 100%;
    height: auto;
    min-height: 100%;
}